wheel
aspider
cython
aiohttp
apscheduler
bottle
numpy
click
pandas
oldest-supported-numpy
peewee
pytest
pytz
requests_html
scikit_learn
setuptools
-e git+https://github.com/wzzqq/mytag.git#egg=bustag
