wheel
cython
aiohttp
apscheduler
bottle
click
numpy
oldest-supported-numpy
pandas
peewee
pytest
pytz
requests_html
scikit_learn
setuptools
opencv-python
-e git+https://github.com/wzzqq/mytag.git#egg=bustag
